<tr>
  	<td><%= link_to estate.name %></td>
    <td><%= estate.location %></td>
  	<td><%= estate.coordinates %></td>
    <td><%= estate.neighourhood %></td>
    <td><%= estate.schools %></td>
    <td><%= estate.crime %></td>
    <td><%= estate.nearby %></td>
    <td><%= estate.created_at %></td>
</tr>
